<form [formGroup]="form">

  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option [value]="TagType.POSITIVE">Positive</mat-option>
      <mat-option [value]="TagType.NEGATIVE">Negative</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>External ID</mat-label>
    <input matInput formControlName="externalId" />
  </mat-form-field>

  <div class="color-group">
    <mat-label>Color</mat-label>
    <div class="color-row">
      <input
        type="color"
        formControlName="color"
        class="color-picker"
      />
      <div
        class="color-preview"
        [style.background-color]="form.get('color')?.value || '#000000'"
      ></div>
      <span class="color-hex">{{ form.get('color')?.value }}</span>
    </div>
  </div>

</form>
